<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/admin.css" />
</head>
<body>
    <%- include('top-navbar.ejs') %>

    <div class="container py-3">

        <h2>Error</h2>
        <br>
        <br>
        <p style="color: cadetblue; font-size: 20px"><%= message %></p>
        <br>
        <br>
        <br>
        <a href="javascript:history.back()">Go Back</a>

    </div>

    <%- include('bottom-navbar.ejs') %>
    <script src="/script/profile-dropdown.js"></script>
</body>
</html>