<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <%- include('component/top-navbar.ejs') %>
    <div class="flex flex-col gap-4 mt-20">
        <button class="flex justify-between items-center bg-gray-400 text-black font-semibold px-6 py-3 rounded">
            Phones <span>&gt;</span>
        </button>
        <button class="flex justify-between items-center bg-gray-400 text-black font-semibold px-6 py-3 rounded">
            Computers <span>&gt;</span>
        </button>
        <button class="flex justify-between items-center bg-gray-400 text-black font-semibold px-6 py-3 rounded">
            Photography <span>&gt;</span>
        </button>
        <button class="flex justify-between items-center bg-gray-400 text-black font-semibold px-6 py-3 rounded">
            Drones <span>&gt;</span>
        </button>
        <button class="flex justify-between items-center bg-gray-400 text-black font-semibold px-6 py-3 rounded">
            TV & Home theatre <span>&gt;</span>
        </button>
        <button class="flex justify-between items-center bg-gray-400 text-black font-semibold px-6 py-3 rounded">
            Software <span>&gt;</span>
        </button>
        <button class="flex justify-between items-center bg-gray-400 text-black font-semibold px-6 py-3 rounded">
            Headphone <span>&gt;</span>
        </button>
        <button class="flex justify-between items-center bg-gray-400 text-black font-semibold px-6 py-3 rounded">
            Car tech and GPS <span>&gt;</span>
        </button>
    </div>
    <%- include('component/bottom-navbar.ejs') %>
</body>

</html>