<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <%- include('component/top-navbar.ejs') %>
    <div class="flex flex-col gap-3 mt-4">
        <div class="flex justify-between items-center bg-gray-300 p-3 rounded">
            <span class="font-medium">iPhone 16</span>
            <div class="flex items-center gap-2 text-xl">
                <span class="border-2 border-purple-500 px-1 rounded">☆</span>
                <span>☆</span>
                <span>☆</span>
                <span>&gt;</span>
            </div>
        </div>

        <div class="flex justify-between items-center bg-gray-300 p-3 rounded">
            <span class="font-medium">iPhone 15</span>
            <div class="flex items-center gap-2 text-xl">
                <span>☆</span>
                <span>☆</span>
                <span>&gt;</span>
            </div>
        </div>

        <div class="flex justify-between items-center bg-gray-300 p-3 rounded">
            <span class="font-medium">iPhone 14</span>
            <div class="flex items-center gap-2 text-xl">
                <span>☆</span>
                <span>&gt;</span>
            </div>
        </div>

        <div class="flex justify-between items-center bg-gray-300 p-3 rounded">
            <span class="font-medium">iPhone 13</span>
            <div class="text-xl">&gt;</div>
        </div>

        <div class="flex justify-between items-center bg-gray-300 p-3 rounded">
            <span class="font-medium">iPhone 12</span>
            <div class="text-xl">&gt;</div>
        </div>
    </div>
    <%- include('component/bottom-navbar.ejs') %>
</body>

</html>