<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/style.css" />
</head>

<body>
    <%- include('component/top-navbar.ejs') %>
    <div class="bg-gray-400 p-4 mt-4 flex justify-between items-center font-semibold text-lg">
        <span>iPhone 16</span>
        <div class="text-xl">☆ ☆ ☆</div>
    </div>

    <div class="bg-gray-300 p-4 mt-4 rounded text-lg font-medium">
        Spec
    </div>

    <div class="flex mt-4 items-center justify-between bg-gray-300 p-4 rounded text-lg font-medium">
        <span>Review Sort</span>
        <span class="bg-gray-400 px-3 py-1 rounded">Star-Drop</span>
    </div>

    <div class="bg-gray-300 p-6 mt-4 rounded text-lg font-medium">
        Reviews
    </div>
    <%- include('component/bottom-navbar.ejs') %>
</body>

</html>