<nav class="fixed bottom-0 left-0 w-full bg-gray-200 shadow flex justify-between px-4 h-16">
    <div class="text-4xl m-auto items-center">A</div>
    <div class="text-4xl m-auto">B</div>
    <div class="text-4xl m-auto">C</div>
    <div class="text-4xl m-auto">D</div>
</nav>