<nav class="fixed top-0 left-0 w-full bg-gray-200 flex justify-between items-center px-4 h-18 shadow z-50">
    <div>
        <a href="#" class="text-5xl flex">
            <span class="scale-x-[-1]">R</span>
            <span>R</span>
        </a>
    </div>
    <div>
        <% if (user) { %>
            <a href="/profile">
                <img src="/img/user-icon.png" class="w-12 h-auto">
            </a>
            <% } else { %>
                <a href="/login">
                    <button
                        class="bg-indigo-200 text-black font-semibold px-4 py-2 rounded-full hover:bg-indigo-300 transition">LOG
                        IN</button>
                </a>
                <% } %>
    </div>
</nav>