<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/style/style.css" />
    <link rel="stylesheet" href="/style/admin.css" />
</head>
<body>
    <%- include('component/top-navbar.ejs') %>

    <div class="container py-3">
        <h2>Catalog Management</h2>
        <div class="list-group">
            <a href="/admin/cat/category" class="list-group-item list-group-item-action clickable-row">
                Manage Category Catalog
                <span class="right-arrow">&#8594;</span>
            </a>
            <a href="/admin/cat/product" class="list-group-item list-group-item-action clickable-row">
                Manage Product Catalog
                <span class="right-arrow">&#8594;</span>
            </a>
            <a href="/admin/cat/spec" class="list-group-item list-group-item-action clickable-row">
                Manage Product Spec Catalog
                <span class="right-arrow">&#8594;</span>
            </a>
            <a href="/admin/cat/product-detail" class="list-group-item list-group-item-action clickable-row">
                Product Details
                <span class="right-arrow">&#8594;</span>
            </a>
        </div>
    </div>


    <%- include('component/bottom-navbar-admin.ejs') %>
    <script src="/script/profile-dropdown.js"></script>
</body>
</html>