<!-- views/featureproduct.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Featured Product</title>
</head>

<body>
    <h1>This is the Featured Product Page</h1>
    <p>More product details will be displayed here.</p>

    <script src="/script/profile-dropdown.js"></script>
</body>

</html>